/* style.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Mudando a fonte para Arial */
}

body.dark {
    background-color: rgb(71, 71, 71);
    color: white;
}

body.light {
    background-color: white;
    color: black;
}

.nav_ {
    padding: 30px;
}

.navbar-brand {
    font-weight: bold;
}

/* Adicionando estilos para os temas */
.dark .navbar, .dark .btn-outline-light {
    background-color: rgb(71, 71, 71);
    color: white;
}

.light .navbar, .light .btn-outline-light {
    background-color: white;
    color: black;
}

.btn-outline-light {
    border-color: white;
}

.light .btn-outline-light {
    border-color: black;
}
